* {
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    font-family: 'Crimson Text', serif;
}

h2 {
    color: white;
    font-family: 'Crimson Text', serif;
}

.wrapper {
    display: flex;
    width: 50%;
    background-color: #000055;
    border: 4px solid lightslategrey;
    padding-top: 10px;
}

#add_author {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    font-family: sans-serif;
}

li {
    color: white;
    margin: 5px;
    font-family: sans-serif;
}

li a {
    color: white;
    font-style: italic;
    font-size: 20px;
}

input[type='submit']{
    margin-top: 20px;
    font-family: sans-serif;
}

#book_add_button {
    margin-top: 40px;
    width: 275px;
    font-family: sans-serif;
}