* {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    width: 50%;
    background-color: #000055;
    border: 4px solid lightslategrey;
    padding: 20px;
}

h2, h3 {
    color: white;
    font-family: 'Crimson Text', serif;
}

p {
    color: white;
    font-family: sans-serif;
}

label {
    color: white;
}


#select_bar {
    width: 200px;
}

#author_submit {
    margin-top: 20px;
    width: 200px;
}