<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='one_author_style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <title>Viewing {{ author.name }}</title>
</head>
<body>
    <div class="wrapper">
        <div id="author_fav">
            <h2 class="section_head">{{ author.name }}'s Favorites:</h2>
            <input type="hidden">
            <table class="table table-secondary table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th># of Pages</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in author_favorites.favorite_books %}
                    <tr>
                        <td>{{ book.name }}</td>
                        <td>{{ book.num_of_pages }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/" type="button" class="btn btn-light">Home</a>
        </div>
        <div id="add_new_favorite">
            <h2 class="section_head">Favorite Another Book for this Author</h2>
            <form action="/create/book/favorite" method="POST">
                <label for="new_fav_book" class="form-label">Choose a Book:</label>
                <div id="book_selection">
                    <input type="hidden" name="author_id" value="{{author.id}}">
                    <select name="book_id" class="form-select">
                        {% for book in books %} 
                            <option value="{{book.id}}">{{ book.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" type="button" class="btn btn-primary" value="Add Book" id="add_book_button">
                </div>
            </form>
        </div>
    </div>
</body>
</html>